# 표준 입력함수 : input()

- 파이썬에서 기본적으로 데이터를 키보드로 입력할 때 사용하는 함수 : 콘솔(console)환경
- input함수는 입력되는 모든 것을 문자열로 취급한다.
- 형식 : 변수 = input()

In [1]:
# '=' 연산자의 방향은 오른쪽에서 왼쪽이다.
# '+' 연산자의 방향은 좌에서 우이다.
a = input()
print(a)

hello
hello

In [2]:
# input(message)
b = input("숫자입력 : ")
print("입력받은 숫자 : ", b)

숫자입력 : 123
입력받은 숫자 :  123

In [4]:
# 반지름을 입력받아 원의 면적과 둘레를 계산하는 프로그램을 구현하시오.
# 입력문
pi=3.14
# 처리문
r = int(input("반지름 : "))
# 출력문
print("원의 둘레 : ", 2*pi*r)
print("원의 면적 : ", r*r*pi)

반지름 : 3
원의 둘레 :  18.84
원의 면적 :  28.26

In [6]:
# 두개의 숫자를 입력받아 합과 곱을 출력하는 프로그램을 구현하시오.
# 입력문
su1 = int(input("첫번째숫자 : "))
su2 = int(input("두번째숫자 : "))
# 처리문
hap = su1 + su2
gob = su1 * su2
# 출력문
print("합 : ", hap)
print("곱 : ", gob)

첫번째숫자 : 3
두번째숫자 : 4
합 :  7
곱 :  12

## 여러 값을 한번에 입력받는 함수
- split() : 특정 문자를 기준으로 문자열을 잘라내는 함수
- map() : map(변환함수, 반복가능한 객체)

In [7]:
num = input()
print(num)

1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10

In [8]:
# split() 함수의 기본은 공백을 기준으로 잘라낸다.
num = input().split()
print(num) #리스트 자료형에 담아서 반환한다.

1 2 3 4 5 6 7 8 9
['1', '2', '3', '4', '5', '6', '7', '8', '9']

In [9]:
num = map(int, input().split()) # map 객체로 반환된다.(주소반환)
print(num)

1 2 3 4 5
<map object at 0x0000014EFE9996A0>

In [10]:
# list(리스트)는 1차원 배열을 의미하는 자료형으로 R에서 Vector형식을 갖는다.
num = list(map(int, input().split()))
print(num)

1 2 3 4 5
[1, 2, 3, 4, 5]

# 표준 출력함수 : print()
- 기본형 : print("출력내용")
- print(a, b, c)

## 형식화된 문자열을 이용한 출력
- 형식 : 형식화된 문자열.format(변수)

In [11]:
x=9
print(x)
print("x = ", x)

9
x =  9

In [15]:
print("정수1 : {0}".format(x))
print("결과 : {}".format(3**5))
print("덧셈 : {0}, 곱셈 : {1}".format(x+x,x*x))

정수1 : 9
결과 : 243
덧셈 : 18, 곱셈 : 81

In [20]:
name = "홍길동"
age = 23
gender = 'M'

In [22]:
print("%s님의 나이는 %d세이고 성별은 %c입니다."%(name, age, gender))

홍길동님의 나이는 23세이고 성별은 M입니다.

In [24]:
x = 8.3 / 2.7
x

3.074074074074074

In [25]:
print("결과 : %f"%x)

결과 : 3.074074

In [26]:
print("결과 : %.2f"%x)

결과 : 3.07

In [27]:
a = 10
b = 20

print("a = {}, b = {}".format(a, b))

a = 10, b = 20

In [28]:
print("a = {1}, b = {0}".format(b, a))

a = 10, b = 20